<html>

    <head>
        <title>Eleventy + NetlifyCMS Blog Example</title>
    </head>

    <body>

        <h1>Eleventy + NetlifyCMS Blog Example (Base)</h1>

        {{content | safe}}

    </body>

</html>