<html>

    <head>
        <title>Eleventy + NetlifyCMS Blog Example</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    </head>

    <body>

        <h1>Eleventy + NetlifyCMS Blog Example (Base)</h1>

        {{content | safe}}

    </body>

</html>